// TODO: fix the font paths to work with both dev and prod

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "poppins_regular";
    src: url("../../resources/fonts/poppins/regular.ttf");
}

@font-face {
    font-family: "poppins_bold";
    src: url("../../resources/fonts/poppins/bold.ttf");
}

@font-face {
    font-family: "poppins_italic";
    src: url("../../resources/fonts/poppins/italic.ttf");
}

@font-face {
    font-family: "karla_regular";
    src: url("../../resources/fonts/karla/regular.ttf");
}

@font-face {
    font-family: "karla_bold";
    src: url("../../resources/fonts/karla/bold.ttf");
}

@font-face {
    font-family: "karla_italic";
    src: url("../../resources/fonts/karla/italic.ttf");
}

@font-face {
    font-family: "consolas";
    src: url("../../resources/fonts/consolas/font.ttf");
}

.container {
    display: none;
    font-family: "poppins_regular";
    width: 100%;
    height: fit-content;

    .hidden {
        display: none;
    }
}