$color-scheme-1: rgb(37, 131, 200);
$color-scheme-2: rgb(35, 163, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(63, 63, 63);
    overflow: hidden;
    --wails-draggable: drag;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins_regular;
    src: url("resources/assets/fonts/poppins_regular.ttf");
}

@font-face {
    font-family: poppins_light;
    src: url("resources/assets/fonts/poppins_light.ttf");
}

@font-face {
    font-family: poppins_bold;
    src: url("resources/assets/fonts/poppins_bold.ttf");
}

@font-face {
    font-family: poppins_italic;
    src: url("resources/assets/fonts/poppins_italic.ttf");
}

@font-face {
    font-family: karla;
    src: url("resources/assets/fonts/karla.ttf");
}

@font-face {
    font-family: consolas;
    src: url("resources/assets/fonts/consolas.ttf");
}

.container {
    display: none;
    color: white;
    font-family: poppins_regular;
    width: 100%;
    height: 100vh;

    .hidden {
        display: none;
    }
}

@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

.loader {
    animation: loader 1.5s cubic-bezier(0.77, 0, 0.45, 1) reverse infinite;
}

.update-checker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-break: break-all;
    user-select: none;
    pointer-events: none;
    gap: 50px;

    .loader {
        $size: 105px;

        width: $size;
        height: $size;
    }

    .message {
        $padding: 15px;

        text-align: center;
        font-size: 17.5px;
        transition: color 0.15s ease-in-out;
        padding-left: $padding;
        padding-right: $padding;
    }
}