$color-scheme-1: rgb(37, 131, 200);
$color-scheme-2: rgb(35, 163, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(63, 63, 63);
    overflow: hidden;
    --wails-draggable: drag;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins_regular;
    src: url("resources/assets/fonts/poppins_regular.ttf");
}

@font-face {
    font-family: poppins_light;
    src: url("resources/assets/fonts/poppins_light.ttf");
}

@font-face {
    font-family: poppins_bold;
    src: url("resources/assets/fonts/poppins_bold.ttf");
}

@font-face {
    font-family: poppins_italic;
    src: url("resources/assets/fonts/poppins_italic.ttf");
}

@font-face {
    font-family: karla;
    src: url("resources/assets/fonts/karla.ttf");
}

@font-face {
    font-family: consolas;
    src: url("resources/assets/fonts/consolas.ttf");
}

.container {
    display: none;
    font-family: poppins_regular;
    width: 100%;
    height: fit-content;

    // .hidden {
    //     display: none;
    // }
}

.loader {
}